#profile-picture {
    width: 90%;
}

#profile {
    margin-top: 20px;
    margin-bottom: 10px;
}

.more-items {
    color: #014c8c;
}
@media only screen and (hover){
    .more-items:hover {
        color: #5cb3fd;
    }
}
.container > div{
    display: flex;
    flex-wrap: wrap;
}

#self-intro-detail {
    font-size: large;
    vertical-align: center;
}
